@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.CyberSource.Models;
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">

                <p>
                    <b>Please ensure that nopCommerce primary currency matches CyberSource currency.</b>
                </p>

                <p>
                    IPN Handler URL should be set to http://www.yourStore.com/Plugins/PaymentCyberSource/IPNHandler/
                </p>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.GatewayUrl)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.GatewayUrl)
                        @Html.ValidationMessageFor(model => model.GatewayUrl)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.MerchantId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.MerchantId)
                        @Html.ValidationMessageFor(model => model.MerchantId)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.PublicKey)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.PublicKey)
                        @Html.ValidationMessageFor(model => model.PublicKey)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.SerialNumber)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SerialNumber)
                        @Html.ValidationMessageFor(model => model.SerialNumber)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AdditionalFee)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AdditionalFee)
                        @Html.ValidationMessageFor(model => model.AdditionalFee)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
}